<div class="add-post">
    <h3>Add post</h3>

    <form [formGroup]="formAdd" (ngSubmit)="addPost(formAdd.value)">
        <div class="form-group">
            <input type="text" formControlName="urlImage" [(ngModel)]="url" id="url">
            <!-- <br>
            {{url}} -->
            <input type="text" formControlName="titleText" [(ngModel)]="title" id="title">
            <!-- <br>
            {{title}}
            <br> -->
            <input type="submit" value="PUBLISH" class="btn">
        </div>
        
    </form>
</div>
