div p {
    width: 100px;
    height: 100px;
    background-color: green;
    float: left;
    overflow: auto;
}
div {
    overflow: auto;
}
h2:first-child {
    color: indigo;
}
#p_block {
    background-color: yellowgreen;
}