.not-found-page {
    text-align: center;
    margin: 5% auto auto;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    width: 50%;
}
.text {
    align-self: center;
}
img {
    width: 50%;
}
h1 {
    color: #2b4432;
    font-size: 2em;
}
p {
    color: maroon;
    font-weight: bold;
    font-size: 5em;
    margin: 0;
}